.hidden {
	display: none;
}

.disclaimer {
	width: 200px;
	padding-bottom: 10px;
}

.btn {
	width: 80px;
	padding-bottom: 5px;
}

.start-btn {
  background-color: #464775;
  border-radius: 2px;
  color: #f3f2f1;
  height: 32px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  width: 70px;
}

body {
	background-color: #f3f2f1;
	text-align: center;
}